* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}




